/*---------- Navigation Bar Styles ----------*/
body
{
    padding-top: 50px;
}

.navbar
{
    border-color: transparent;
    font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

navbar .navbar-brand
{
    color: #faf3bc;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus, .navbar .navbar-brand:active, .navbar .navbar-brand.active
{
    color: #4cc4a7;
}

.navbar .nav li a
{
    font-size: 18px;
    font-weight: 400;
    color: #faf3bc;
}

.navbar .nav li a:hover, .navbar .nav li a:focus
{
    outline: 0;
    color: #fed136;
}

@media (min-width: 768px)
{
    body
    {
        padding-top: 120px;
    }

    .navbar
    {
        padding: 25px 0;
        border: none;
        background-color: transparent;
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0001));
        background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0001));
        background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0001));
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0001));
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    .navbar .navbar-brand
    {
        font-size: 3em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar.navbar-shrink
    {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar.navbar-shrink .navbar-brand
    {
        font-size: 2em;
    }
}/*----- break -----*/
/*---------- About Us Styles ----------*/
h1.about, p.about
{
    color: #fff;
    margin: 2em 0 0.5em;
}

h1.about
{
    font-size: 45px;
}

p.about
{
    align-content: center;
    font-family: 'proxima-nova';
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 0.015em;
    text-transform: none;
    text-decoration: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about
{
    text-align: center;
}

div.col
{
    outline: none;
}

div.container-fluid
{
    background-image: url('../img/banner.jpg');
    background-size: auto;
    margin-top: 50px;
    padding-bottom: 105px;
    width: auto;
}

div.row
{
/*    background-color: #4cc4a7;*/
    padding-left: 17px;
    padding-right: 17px;
}/*----- break -----*/
/*---------- Signup Form Styles ----------*/

.btn-block
{
    display: block;
    width: 100%;
}

.btn-lg
{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-primary
{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn
{
    margin: auto;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 3px solid transparent;
}

.checkbox
{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
}

label
{
    font-style: oblique;
    display: inline-block;
    margin-bottom: .5rem;
}

.form-signup
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signup .form-signup-heading, .form-signup .checkbox
{
    margin-bottom: 10px;
}

.form-signup .checkbox
{
    font-weight: normal;
}

.form-signup .form-control
{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 2px dashed aquamarine;
    border-radius: 5% 5% 0 0;
}

.form-signup .form-control:focus
{
    z-index: 2;
}

.form-signup input[type='text']
{
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input[type='email']
{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input[type='password']
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}/*----- break -----*/
/*---------- Spoiler Styles ----------*/

img.spoiler-img
{
    display: block;
    width: 350px;
    margin: 30px auto;
}

button.spoiler-btn
{
    background: #dae1e4;
    border: none;
    border-radius: 5px;
    color: #1d3c6a;
    font-size: 24px;
    width: 480px;
    padding: 40px 0;
    margin: -40px -20px;
    outline: none;
    cursor: pointer;
}

.spoiler
{
    background: #1d3c6a;
    width: 440px;
    margin: 0 auto 20px;
    border-radius: 5px;
    padding: 40px 20px;
    text-align: center;
    font-size: 24px;
}

.spoiler span
{
    color: #dae1e4;
}/*----- break -----*/
/*---------- Contact Styles ----------*/

a.social
{
    display: inline-block;
    color: #4fb69f;
    text-decoration: none;
    width: 5em;
}

.container .row
{
    background: #dfa182;
    font-family: 'Nunito';
    width: fill;
}

div.social-icons
{
    padding-top: 23px;
    text-align: left;
}

.food-cupcakes
{
    width: 405px;
    margin-right:0px;
}

h1.location, h2.contact
{
    font-size: 1.75em;
    color: #c44c69;
    margin-right: 0px;
}

p.contact
{
    color: honeydew;
    font-size: 20px;
    text-align: justify;
}

#new-cupcakes img
{
    border: 8px solid #faf3bc;
    margin: 0 0 20px 0;
}/*----- break -----*/
/*---------- Operating Hours Table Styles ----------*/

body table
{
    font-family: 'Nunito', sans-serif;
    color: #faf3bc;
}

table
{
    max-width: 960px;
    margin: 10px auto;
    border-collapse: collapse;
    border-spacing: 0;
    
}

caption
{
    color: #747474;
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
}

thead th
{
    font-weight: 400;
    background: #3ab4b5;
    color: #faf3bc;
}

thead th:first-child
{
    background: #dfa182;
}

tr
{
    background: #4cc4a7;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
    font-size: 23px;
    font-style: bold;
}

tr:nth-child(even)
{
    background: #c44c69;
}

th, td
{
    text-align: left;
    padding: 20px;
    font-weight: 300;
}

tfoot tr
{
    background: none;
}

tfoot td
{
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: oblique;
    color: #8a97a0;
}/*----- break -----*/
/*---------- Copyright Styles ----------*/

#copyright
{
    background: #4cc4a7;
    border: 8px solid #faf3bc;
    border-top: 8px solid #c44c69;
    font-size: 18px;
    padding: 10px 0px;
    margin:  15px 0px;
    text-align: center;
    text-shadow: 3px 3px 5px #faf3bc;
    width: fill;
}/*----- break -----*/