/*---------- Global Styles ----------*/
html
{
    font-size: 10px;
}/*----- break -----*/
/*---------- Navigation Bar Styles ----------*/
body
{
    padding-top: 50px;
}

.navbar
{
    border-color: transparent;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

navbar .navbar-brand
{
    color: #faf3bc;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus, .navbar .navbar-brand:active, .navbar .navbar-brand.active
{
    color: #4cc4a7;
}

.navbar .nav li a
{
    font-size: 23px;
    font-weight: 400;
    color: #faf3bc;
}

.navbar .nav li a:hover, .navbar .nav li a:focus
{
    outline: 0;
    color: #fed136;
}

@media (min-width: 768px)
{
    body
    {
        padding-top: 120px;
    }

    .navbar
    {
        padding: 25px 0;
        border: none;
        background-color: transparent;
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0001));
        background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0001));
        background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0001));
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0001));
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    .navbar .navbar-brand
    {
        font-size: 3em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar.navbar-shrink
    {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar.navbar-shrink .navbar-brand
    {
        font-size: 2em;
    }
}/*----- break -----*/
/*---------- Menu Bar Styles ----------*/
h1 span
{
    color: #fff;
}

img.img-circle
{
    border: 7px dashed #4cc4a7;
    border-width: 5px;
}

#menu
{
    background: rgba(196, 76, 105, 0.4);
    color: black;
    border: 8px solid #faf3bc;
    border-top: 8px solid #c44c69;
    font-size: 23px;
    padding: 13px;
    margin:  auto;
    text-align: center;
    word-spacing: 55px;
}

@media (min-width: 1251px and max-width: 1524px)
{
    #menu
    {
        word-spacing: 1.5em;
    }
}

@media (max-width: 1250px)
{
    #menu
    {
        word-spacing: 0.5em;
    }
}

@media (max-width: 650px)
{
    #menu
    {
        word-spacing: 0.20em;
        font-size: 12px;
    }
}

@media (max-width: 400px)
{
    #menu
    {
        word-spacing: 0.25em;
        font-size: 17px;
    }
}

@media (max-width: 360px)
{
    #menu
    {
        word-spacing: 0.25em;
        font-size: 10px;
    }
}/*----- break -----*/
/*---------- About Us Styles ----------*/
h1.about, p.about
{
    color: #fff;
    margin: 2em 0 0.5em;
}

h1.about
{
    font-size: 45px;
}

p.about
{
    align-content: center;
    font-family: 'proxima-nova';
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 0.015em;
    text-transform: none;
    text-decoration: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about
{
    text-align: center;
}

div.col
{
    outline: none;
}

div.container-fluid
{
    background-image: url('../img/banner.jpg');
    background-size: auto;
    margin-top: 50px;
    padding-bottom: 105px;
    width: auto;
}

div.row
{
    padding-left: 17px;
    padding-right: 17px;
}

@media (max-width:575px)
{
    div.container-fluid
    {
        background-image: url('../img/mobile.jpg');
    }
}/*----- break -----*/
/*---------- Signup Form Styles ----------*/
.btn-block
{
    display: block;
    width: 100%;
}

.btn-lg
{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-primary
{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn
{
    margin: auto;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 3px solid transparent;
}

.checkbox
{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
}

label
{
    font-style: oblique;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-signup
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

span.warning
{
    display: block;
    font-size: 1em;
    text-align: center;
    background: #e5f7f3;
    width: 135px;
    padding: 4px;
    float: right;
    margin-bottom: 8px;
    color: crimson;
}

span.tip
{
    display: grid;
    font-size: 1.5em;
    text-align: right;
    background: #f3e5f7;
    color: dodgerblue;
}

.form-signup .form-signup-heading, .form-signup .checkbox
{
    margin-bottom: 10px;
}

.form-signup .checkbox
{
    font-weight: normal;
}

.form-signup .form-control
{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 2px dashed aquamarine;
    border-radius: 5% 5% 0 0;
}

.form-signup .form-control:focus
{
    z-index: 2;
}

.form-signup input[type='text']
{
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input[type='email']
{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input[type='password']
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}/*----- break -----*/
/*---------- Spoiler Styles ----------*/
img.spoiler-img
{
    display: block;
    width: 650px;
    margin: 100px auto;
}

button.spoiler-btn
{
    background: #3ab4b5;
    border: none;
    border-radius: 90px;
    color: #1d3c6a;
    font-size: 34px;
    width: 480px;
    padding: 29px 10px;
    margin: 45px -40px;
    outline: none;
    cursor: pointer;
}

.spoiler
{
    background: white;
    text-align: center;
    border-radius: 5px;
    color: #1d3c6a;
    font-size: 34px;
    width: 380px;
    padding: 8px 10px;
    margin: 5px 30px;
    outline: none;
}

.spoiler a
{
    color: #dfa182;
}

@media (max-width: 988px)
{
    button.spoiler-btn
    {
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        width: 300px;
        padding: 20px 5px;
        margin: 20px -30px;
        cursor: pointer;
    }
    
    img.spoiler-img
    {
        display: block;
        width: 350px;
        margin: 50px auto;
    }
}/*----- break -----*/
/*---------- Testimonials Styles ----------*/
#testimonials div, ul, ol, li, h1, h2, p
{
    margin: 0;
    padding: 0;
}

.col-twelve
{
    width: 100%;
}

#testimonials
{
    background: #fff;
    padding: 12rem 0 7.8rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

#testimonials h2
{
    font-family: 'montserrat-bold', sans-serif;
    font-size: 1.8rem;
    line-height: 1.667;
    color: #07617d;
    text-transform: uppercase;
    letter-spacing: .3rem;
    position: relative;
    margin-bottom: 4.2rem;
}

#testimonials .flex-container
{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

#testimonial-slider
{
    margin: 0 0 3rem 0;
    position: relative;
}

#testimonial-slider .slides
{
    padding-bottom: 3rem;
}

#testimonial-slider p
{
    font-family: 'librebaskerville-bold', serif;
    font-size: 3rem;
    line-height: 1.8;
    color: #151515;
}

#testimonial-slider p::before, #testimonial-slider p::after
{
    display: inline-block;
    font-family: 'librebaskerville-bold', serif;
    font-size: 3.6rem;
    line-height: 1;
}

#testimonial-slider p::before
{
    content: '\201C';
}

#testimonial-slider p::after
{
    content: '\201D';
}

#testimonial-slider .testimonial-author
{
    margin-top: 4.2rem;
}

#testimonial-slider .testimonial-author img
{
    width: 7.4rem;
    height: 7.4rem;
    margin: 0 auto 1.2rem auto;
    display: block;
    border-radius: 50%;
    vertical-align: middle;
}

#testimonial-slider .testimonial-author .author-info
{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: 'librebaskerville-bold', sans-serif;
    font-size: 2rem;
    margin-top: .9rem;
    margin-bottom: 3rem;
    color: #151515;
}

#testimonial-slider .testimonial-author .author-info span
{
    display: block;
    font-family: 'montserrat-bold', sans-serif;
    font-size: 1.6rem;
    line-height: 1.313;
    letter-spacing: 0;
    text-transform: none;
    color: rgba(0, 0, 0, 0.5);
    margin-top: .3rem;
}

#testimonials .flex-control-nav
{
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: -1.5rem;
}

#testimonials .flex-control-nav li
{
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
}

#testimonials .flex-control-paging li a
{
    width: 9px;
    height: 9px;
    background-color: #959595;
    border-radius: 50%;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

#testimonials .flex-control-paging li a:hover
{
    background-color: #555555;
}

#testimonials .flex-control-paging li a.flex-active
{
    background-color: #000000;
}

@media only screen and (max-width: 1024px)
{
    #testimonial-slider p
    {
        font-size: 2.8rem;
    }
}

@media only screen and (max-width: 768px)
{
    #testimonials h2
    {
        font-size: 1.7rem;
    }

    #testimonial-slider p
    {
        font-size: 2.5rem;
    }
    
    #testimonial-slider .testimonial-author img
    {
        width: 6.6rem;
        height: 6.6rem;
    }
    
    #testimonial-slider .testimonial-author .author-info
    {
        font-size: 1.8rem;
    }
    
    #testimonial-slider .testimonial-author .author-info span
    {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px)
{
    #testimonials .flex-container
    {
        width: 90%;
    }

    #testimonial-slider p
    {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 500px)
{
    #testimonials h2
    {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 400px)
{
    #testimonials .flex-container
    {
        width: 100%;
    }

    #testimonial-slider p
    {
        font-size: 2rem;
    }
}/*----- break -----*/
/*---------- Contact Styles ----------*/
a.social
{
    display: inline-block;
    color: #4fb69f;
    text-decoration: none;
    width: 5em;
}

#contact-container
{
    background: #dfa182;
    font-family: 'Nunito';
    width: fill;
}

div.social-icons
{
    padding-top: 23px;
    text-align: left;
}

.food-cupcakes
{
    width: 405px;
    margin-right: 0px;
    padding-top: 4em;
}

h1.location, h2.contact
{
    font-size: 1.75em;
    color: #c44c69;
    margin-right: 0px;
}

p.contact
{
    color: honeydew;
    font-size: 20px;
    text-align: justify;
}

#new-cupcakes img
{
    border: 8px solid #faf3bc;
    margin: 0 0 20px 0;
}/*----- break -----*/
/*---------- Operating Hours Table Styles ----------*/
body table
{
    font-family: 'Nunito', sans-serif;
    color: #faf3bc;
}

table
{
    max-width: 960px;
    margin: 10px auto;
    border-collapse: collapse;
    border-spacing: 0;
}

caption
{
    color: #747474;
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
}

thead th
{
    font-weight: 400;
    background: #3ab4b5;
    color: #faf3bc;
}

thead th:first-child
{
    background: #dfa182;
}

tr
{
    background: #4cc4a7;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
    font-size: 23px;
    font-style: bold;
}

tr:nth-child(even)
{
    background: #c44c69;
}

th, td
{
    text-align: left;
    padding: 20px;
    font-weight: 300;
}

tfoot tr
{
    background: none;
}

tfoot td
{
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: oblique;
    color: #8a97a0;
}/*----- break -----*/
/*---------- Copyright Styles ----------*/
#copyright
{
    background: #4cc4a7;
    border: 8px solid #faf3bc;
    border-top: 8px solid #c44c69;
    font-size: 18px;
    padding: 10px 0px;
    margin:  15px 0px;
    text-align: center;
    text-shadow: 3px 3px 5px #faf3bc;
    width: fill;
}/*----- break -----*/